.text-transparent {
  color: transparent;
}

.text-current {
  color: currentColor;
}

.text-black {
  color:  rgb(0, 0, 0);
}

.text-white {
  color:  rgb(255, 255, 255);
}

.text-gray-50 {
  color:  rgb(249, 250, 251);
}

.text-gray-100 {
  color:  rgb(243, 244, 246);
}

.text-gray-200 {
  color:  rgb(229, 231, 235);
}

.text-gray-300 {
  color:  rgb(209, 213, 219);
}

.text-gray-400 {
  color:  rgb(156, 163, 175);
}

.text-gray-500 {
  color:  rgb(107, 114, 128);
}

.text-gray-600 {
  color:  rgb(75, 85, 99);
}

.text-gray-700 {
  color:  rgb(55, 65, 81);
}

.text-gray-800 {
  color:  rgb(31, 41, 55);
}

.text-gray-900 {
  color:  rgb(17, 24, 39);
}

.text-red-50 {
  color:  rgb(254, 242, 242);
}

.text-red-100 {
  color:  rgb(254, 226, 226);
}

.text-red-200 {
  color:  rgb(254, 202, 202);
}

.text-red-300 {
  color:  rgb(252, 165, 165);
}

.text-red-400 {
  color:  rgb(248, 113, 113);
}

.text-red-500 {
  color:  rgb(239, 68, 68);
}

.text-red-600 {
  color:  rgb(220, 38, 38);
}

.text-red-700 {
  color:  rgb(185, 28, 28);
}

.text-red-800 {
  color:  rgb(153, 27, 27);
}

.text-red-900 {
  color:  rgb(127, 29, 29);
}

.text-yellow-50 {
  color:  rgb(255, 251, 235);
}

.text-yellow-100 {
  color:  rgb(254, 243, 199);
}

.text-yellow-200 {
  color:  rgb(253, 230, 138);
}

.text-yellow-300 {
  color:  rgb(252, 211, 77);
}

.text-yellow-400 {
  color:  rgb(251, 191, 36);
}

.text-yellow-500 {
  color:  rgb(245, 158, 11);
}

.text-yellow-600 {
  color:  rgb(217, 119, 6);
}

.text-yellow-700 {
  color:  rgb(180, 83, 9);
}

.text-yellow-800 {
  color:  rgb(146, 64, 14);
}

.text-yellow-900 {
  color:  rgb(120, 53, 15);
}

.text-green-50 {
  color:  rgb(236, 253, 245);
}

.text-green-100 {
  color:  rgb(209, 250, 229);
}

.text-green-200 {
  color:  rgb(167, 243, 208);
}

.text-green-300 {
  color:  rgb(110, 231, 183);
}

.text-green-400 {
  color:  rgb(52, 211, 153);
}

.text-green-500 {
  color:  rgb(16, 185, 129);
}

.text-green-600 {
  color:  rgb(5, 150, 105);
}

.text-green-700 {
  color:  rgb(4, 120, 87);
}

.text-green-800 {
  color:  rgb(6, 95, 70);
}

.text-green-900 {
  color:  rgb(6, 78, 59);
}

.text-blue-50 {
  color:  rgb(239, 246, 255);
}

.text-blue-100 {
  color:  rgb(219, 234, 254);
}

.text-blue-200 {
  color:  rgb(191, 219, 254);
}

.text-blue-300 {
  color:  rgb(147, 197, 253);
}

.text-blue-400 {
  color:  rgb(96, 165, 250);
}

.text-blue-500 {
  color:  rgb(59, 130, 246);
}

.text-blue-600 {
  color:  rgb(37, 99, 235);
}

.text-blue-700 {
  color:  rgb(29, 78, 216);
}

.text-blue-800 {
  color:  rgb(30, 64, 175);
}

.text-blue-900 {
  color:  rgb(30, 58, 138);
}

.text-indigo-50 {
  color:  rgb(238, 242, 255);
}

.text-indigo-100 {
  color:  rgb(224, 231, 255);
}

.text-indigo-200 {
  color:  rgb(199, 210, 254);
}

.text-indigo-300 {
  color:  rgb(165, 180, 252);
}

.text-indigo-400 {
  color:  rgb(129, 140, 248);
}

.text-indigo-500 {
  color:  rgb(99, 102, 241);
}

.text-indigo-600 {
  color:  rgb(79, 70, 229);
}

.text-indigo-700 {
  color:  rgb(67, 56, 202);
}

.text-indigo-800 {
  color:  rgb(55, 48, 163);
}

.text-indigo-900 {
  color:  rgb(49, 46, 129);
}

.text-purple-50 {
  color:  rgb(245, 243, 255);
}

.text-purple-100 {
  color:  rgb(237, 233, 254);
}

.text-purple-200 {
  color:  rgb(221, 214, 254);
}

.text-purple-300 {
  color:  rgb(196, 181, 253);
}

.text-purple-400 {
  color:  rgb(167, 139, 250);
}

.text-purple-500 {
  color:  rgb(139, 92, 246);
}

.text-purple-600 {
  color:  rgb(124, 58, 237);
}

.text-purple-700 {
  color:  rgb(109, 40, 217);
}

.text-purple-800 {
  color:  rgb(91, 33, 182);
}

.text-purple-900 {
  color:  rgb(76, 29, 149);
}

.text-pink-50 {
  color:  rgb(253, 242, 248);
}

.text-pink-100 {
  color:  rgb(252, 231, 243);
}

.text-pink-200 {
  color:  rgb(251, 207, 232);
}

.text-pink-300 {
  color:  rgb(249, 168, 212);
}

.text-pink-400 {
  color:  rgb(244, 114, 182);
}

.text-pink-500 {
  color:  rgb(236, 72, 153);
}

.text-pink-600 {
  color:  rgb(219, 39, 119);
}

.text-pink-700 {
  color:  rgb(190, 24, 93);
}

.text-pink-800 {
  color:  rgb(157, 23, 77);
}

.text-pink-900 {
  color:  rgb(131, 24, 67);
}
